.Header {
    font-size: 22px;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid grey;
    margin-bottom: 15px;
    font-weight: 800;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}